<div class="banner">
  <div class="banner-content text-center">
    <h1>Les meilleurs restaurants</h1>
    <button type="button" class="btn btn-primary">Découvrez les maintenant</button>
  </div>
</div>
